* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'BLACK BRUSH';
  src: url('./assets/BLACK_BRUSH.woff') format('woff')
}

@font-face {
  font-family: 'Ostrich Sans Sans Black';
  src: url('./assets/ostrich-sans.sans-black.ttf') format('woff')
}

@font-face {
  font-family: 'Ostrich Sans Sans Medium';
  src: url('./assets/ostrich-sans.sans-medium.ttf') format('woff')
}


body {
  margin: 0 auto;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Dancing Script', 'cursive'
  "Helvetica Neue", 'Roboto Mono', 'monospace', 'Barlow', 'sans-serif'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html{
  height: 100%;
}

main{
  position: static;
  font-weight: 300;
  width: 100%;
  /* min-height: calc(100vh - 70px - 200px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
